 <!-- <app-signup></app-signup>
<app-signin></app-signin>  -->
<!-- <app-search></app-search>  -->
<!-- <app-filter></app-filter> -->



<!-- <div fxLayout="row" fxLayoutGap="10px">
    <app-filter></app-filter>
    <div>
        <app-search></app-search>
        <app-bookinglist></app-bookinglist>
    </div>
</div> -->
<!-- <mat-card>
        <div class="first">
            <i>Booking My Room!</i>
            <button mat-button>My Booking</button>
        </div>
    </mat-card> -->
    <router-outlet></router-outlet>