 .example-container {
  display: flex;
  flex-direction: column;
  width: 40%;
}



.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}
button{
  background-color: #0085ff;
  width: 30px;
  margin-top: 20px ;
}
mat-card{
width: 50%;
margin:auto;
margin-top:-175px;
margin-right:-150px;


}

.bgimage
{
top:40px;
padding:20%;
background-image: url('../../../assets/images/signup1.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: cover; 
height: 100%; 
} 








 /* #formDiv{
  align-items: center;
  padding-top: 50px;
  }
  
  .divclass{
  position: fixed;
  background-repeat: no-repeat;
  background-size:100%;
  background-position: center;
  background-size: cover;
  min-width: 100%;
  height: 100%;
  background-image: url("../../../assets/images/signup1.jpg"); 
  background-image: url('../../../assets/images/signup1.jpg');
  }
  
  form{
  width: 25%;
  margin: auto;
   margin-top: 10px; 
  left: 50%; 
  color: black;
   height: 50px;
  } 
  
  .button{
  height: 40px;
  width: 100px;
  }
  
  mat-card{
  margin-top: 0px;
  } 
   */