<mat-card  fxLayout="row wrap" fxLayoutAlign="start stretch" fxLayoutGap="20px">
  <div fxLayout="row wrap" fxLayoutGap="10px">  
      
      <img class="images" src="../../../assets/images/download.jpg"  width="200px" height="200px">
      <div >
        <h3>{{hotelItem.name}}</h3>
        <h6>{{hotelItem.location}}&nbsp;&nbsp;{{hotelItem.city}}</h6>
        <h6>Car parking | First Aid | Wifi Facility</h6>
        <h6><span><i class="material-icons">star</i>{{hotelItem.averageRating}}</span>&nbsp;&nbsp;
        {{hotelItem.price| currency:'&#8377;'}}</h6>
        
        <button mat-raised-button class="View" color="primary">View Details</button>&nbsp;
        <button mat-raised-button  class="Booking" color="accent">Booking Now</button>
        </div>
      </div>
</mat-card>


















<!-- <mat-card>
  <div *ngFor="let booking of establishments" fxLayout="row wrap" fxLayoutGap="10px"><br>
    
    <img class="images" src="../../../assets/images/download.jpg" border="0" none padding="0" width="250px"
      height="250px"><br>

    <div fxFlex="3 3 calc(30em +a 30px)">
      <h3>{{booking.name}}</h3>
      <h6>{{booking.location}}&nbsp;&nbsp;{{booking.city}}</h6>
      <h6>Car parking | First Aid | Wifi Facility</h6>
      <h6><span><i class="material-icons">star</i>{{booking.averageRating}}</span>&nbsp;&nbsp;
        {{booking.price| currency:'&#8377;'}}</h6>


      <button mat-raised-button color="primary">View Details</button>&nbsp;


      <button mat-raised-button color="warn">Booking Now</button>
   




    </div>
  </div>
</mat-card>   -->
