<mat-card  fxLayout="row wrap" fxLayoutAlign="start stretch" fxLayoutGap="20px">
  <div fxLayout="row wrap" fxLayoutGap="10px">  
    <img class="images" src="../../../assets/images/download.jpg"  width="100px" height="100px">

      <div >
        <h3>{{hotelItem.name}}</h3>
        <h6>{{hotelItem.location}}&nbsp;&nbsp;{{hotelItem.city}}</h6>
        <h6>Car parking | First Aid | Wifi Facility</h6>
        <h6><span><i class="material-icons">star</i>{{hotelItem.averagerating}}</span>&nbsp;&nbsp;
        {{hotelItem.price| currency:'&#8377;'}}</h6>
        
  
  <!-- <button mat-raised-button   routerLink="/Viewdetails" routerLinkActive="active"  class="View" color="primary" >View Details</button>&nbsp; -->
 
  <button mat-raised-button class="View" color="primary" routerLink="/Viewdetails/{{hotelItem.id}}">View Details</button>&nbsp;

  <button mat-raised-button  class="Booking" color="accent" routerLink="/Viewdetails/{{hotelItem.id}}">Booking Now</button>
                                                                  
</div>
      </div>
</mat-card>



















