.example-container {
    display: flex;
    flex-direction: column;
    width: 40%;
  }
  
  
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }
  button{
    background-color: #0085ff;
    width: 30px;
    margin-top: 40px
}
mat-card{
  width: 50%;
  margin:auto;
  margin-top:-20%;
}

.bgimage
{
  
  
top: 45px;
padding:20%;
background-image: url('../../../assets/images/checkin.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: cover; 
height: 100%; 
}












